body
{
    margin-top: -70px;
    padding: 0;
    font-family: sans-serif;
    background-position: center;
    background-size: cover;
}
.Reset-Password
{
    width: 350px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background: white;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
}
.Reset-Password h1
{
    color: #0a0a0a;
    margin-bottom: 30px;
    font-size: 20px;
}
.input-box
{
    border-radius: 10px;
    padding: 13px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid gray;
    outline: none;
    background-color: whitesmoke;
}
button
{
    color: white;
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
}
.send-link-btn
{
    background-color: #1c8adb;
}
hr
{
    margin-top: 20px;
    width: 80%;
}
.or
{
    background-color: white;
    width: 30px;
    margin: -19px auto 10px;

}
img
{
    width: 130px;
    margin-top: -10px;
}
.info{
    margin-top: -20px;
    text-align: center;
    font-family: calibri;
}
.info1 h1{
    text-align: center;
    font-size: 15px;
    font-family: sans-serif;
}
.back{
    width: 370px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background-color: whitesmoke;
    padding: 9px;
    margin: -18px;
    margin-left: -18.8px;
    margin-top: 75px;
}